@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}
//to void defilt inout bozex decorations
input.middle:focus {
    outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 8px 10px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    
}


.inputfile:focus + label,
.inputfile + label:hover {
    background-color: brown;
}


.inputfile:focus + label {
	outline: 1px dotted #000;
}

//Quick Add Button
.hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
#dropdown-container {
    position: absolute;
    z-index: 1;
  }